<h1>Contact Us Form</h1>
<p>{{ form.candidate_name }}</p>
<p>{{ form.candidate_mail }}</p>

<p>{{ form.candidate_number }}</p>
<p>{{ form.candidate_dob }}</p>

<p>{{ form.candidate_gender }}</p>
<p>{{ form.candidate_confirmation }}</p>

<p>{{ form.candidate_copy }}</p>

<p>{{ form.actions }}</p>
