<h1>User Step 1:</h1>

<p>Full Name - {{ form.user_fullname }}</p>
<p>Picture - {{ form.user_picture }}</p>

<p>{{ form.professional_category }}</p>
<p>{{ form.personal_category }}</p>
<p>{{ form.button }} {{ form.submit }}</p>

